*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mina', sans-serif;
}

body {
    background-color: #fcfcfc;
}

.header_container {
    width: 50%;
    height: 50px;
    margin: 0 auto;
    border-bottom: 2px solid #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_container a {
    text-decoration: none;
    color: grey;
    font-size: 12px;
    font-weight: bold;
}

.anon_container {
    width: 100%;
    margin: 100px auto;
    text-align: center;
}

.anon_container h3 {
    font-weight: normal;
}

.btn_login {
    padding: 3px 30px;
    border-radius: 20px;
    background-color: #32a698;
    color: white;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 0 10px grey;
}


.container_login {
    margin: 50px auto;
    text-align: center;
}

.container_login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_login form input {
    margin: 10px;
    width: 300px;
    border: 2px solid #e6e6e6;
    border-radius: 20px;
    padding: 3px 10px;
    outline: none;
}

.container_login form button {
    background-color: #32a698;
    padding: 3px 30px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: bold;
    color: white;
    outline: none;
    border: 1px solid #32a698;
    cursor: pointer;
    box-shadow: 0 0 10px grey;
}

.boards_container {
    width: 90%;
    margin: 0 auto;
    column-count: 3;
    column-gap: 1em;

}

.board_item {
    border: 1px solid #e6e6e6;
    background-color: white;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    color: #292828;
    box-shadow: 0 0 5px #e6e6e6;
}

.board_item p {
    font-weight: normal;
}

.header_container .btn_new_task  {
    border: 2px solid #32a698;
    border-radius: 20px;
    padding: 3px 20px;
    color: #32a698;
    font-size: 10px;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}


.header_container .btn_new_task:hover {
    background-color: #32a698;
    color: white;
}

.new_container {
    width: 90%;
    margin: 50px auto;
    text-align: center;
}

.new_container form textarea {
    width: 500px;
    height: 300px;
    padding: 10px;
    resize: none;
    border: 2px solid #32a698;
    border-radius: 3px;
    outline: none;
}

.new_container form button {
    background-color: white;
    padding: 3px 30px;
    font-size: 12px;
    border-radius: 20px;
    border: 2px solid #32a698;
    color: #32a698;
    font-weight: bold;
    cursor: pointer;
}
